<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.StatusREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.GenerateREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.SignInREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProbeSystemREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.ProbeSystemREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProbePlanetREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.ProbePlanetREST</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>api/v1/status</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GenerateREST</servlet-name>
        <url-pattern>api/v1/generate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignInREST</servlet-name>
        <url-pattern>api/v1/signin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProbeSystemREST</servlet-name>
        <url-pattern>api/v1/probeSystem</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProbePlanetREST</servlet-name>
        <url-pattern>api/v1/probePlanet</url-pattern>
    </servlet-mapping>
</web-app>