<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.StatusREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.GenerateREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.SignInREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProbeSystemREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.ProbeSystemREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProbePlanetREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.ProbePlanetREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.PopREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitSystemREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.InitSystemREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StructureREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.StructureREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectorREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.SectorREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanetREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.PlanetREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolSysREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.SolSysREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalaxyREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.GalaxyREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerrainREST</servlet-name>
        <servlet-class>com.eweware.phabrik.rest.TerrainREST</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TerrainREST</servlet-name>
        <url-pattern>/api/v1/terrain</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StructureREST</servlet-name>
        <url-pattern>/api/v1/structure</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PlanetREST</servlet-name>
        <url-pattern>/api/v1/planet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SolSysREST</servlet-name>
        <url-pattern>/api/v1/solsys</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GalaxyREST</servlet-name>
        <url-pattern>/api/v1/galaxy</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SectorREST</servlet-name>
        <url-pattern>/api/v1/sector</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InitSystemREST</servlet-name>
        <url-pattern>/api/v1/initsystem</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PopREST</servlet-name>
        <url-pattern>/api/v1/pop</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/api/v1/status</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GenerateREST</servlet-name>
        <url-pattern>/api/v1/generate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignInREST</servlet-name>
        <url-pattern>/api/v1/signin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProbeSystemREST</servlet-name>
        <url-pattern>/api/v1/probesystem</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProbePlanetREST</servlet-name>
        <url-pattern>/api/v1/probeplanet</url-pattern>
    </servlet-mapping>
</web-app>